<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Vasu Vanka</mat-card-title>
        <mat-card-subtitle>Programmer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <img class="image" src="https://avatars3.githubusercontent.com/u/9362840?v=4" alt="Photo of vasu vanka">
            <div>
                <h4 style="margin-left: 26px;">About me:</h4>
                <ul>
                    <li>Finding solutions to the challenges</li>
                    <li>Love to code and contribute to open source community</li>
                    <li>Love to go on long drives and trekking</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>